pytest
tensorflow=1.15
librosa=0.6.1
numba=0.48
matplotlib
numpy
scikit-learn
ffmpeg

#if it does not work then, 
    #conda config --append channels conda-forge
    #conda install <package_name>=<version>

#audioread.exceptions.NoBackendError -> conda install ffmpeg